Repository 392-f24/OpenHands, pull requests merged in 2024-12, with the labels that each got.

#25 displaying incoming donations for the organization side
  src/components/Alerts/OrganizationAlerts.tsx
Labels: components, size/M, context, utils

#27 fix: clear event store on logout.
  src/stores/userStore.ts
Labels: bug, size/XS

#29 Implement exporting all calendar events
  src/components/Schedule/index.tsx
  src/utils/generateICSFile.ts
Labels: components, size/M, utils

#31 feat: add exporting all calendar events (#29)
  src/components/Schedule/index.tsx
  src/utils/generateICSFile.ts
Labels: components, size/M, utils

#30 Update styling of organization cards
  src/components/Home/DonorDashboard/OrganizationCard.tsx
  src/components/Saved/SavedCard.tsx
Labels: components, size/M

#33 feat: add donor email to organization alerts
  src/components/Alerts/OrganizationAlerts.tsx
  src/utils/firebase/firebaseUtils.ts
  src/utils/firebase/index.ts
Labels: components, size/M, utils

#32 Filtering for needs, descriptions and location of organization
  src/components/Home/DonorDashboard/index.tsx
  src/components/common/Filters.tsx
  src/components/common/SearchBar.tsx
  src/components/common/index.tsx
Labels: size/L, components

#35 Style: update donor alert heading for consistency
  src/components/Alerts/DonorAlerts.tsx
Labels: components, pages, size/XS
