Repository 392-f24/OpenHands, pull requests merged in 2024-11, with the labels that each got.

#1 Migrate + refactor GPT generated codebase
  .github/workflows/label-pr-based-on-paths.yml
  .gitignore
  firebase.json
  package-lock.json
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/components/Home/OrganizationCard.tsx
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/components/common/ProtectedRoute.tsx
  src/components/common/SearchBar.tsx
  src/components/common/index.tsx
  src/hooks/index.ts
  src/hooks/useToggle.ts
  src/pages/Alerts.tsx
  src/pages/Home.tsx
  src/pages/Me.tsx
  src/pages/Saved.tsx
  src/routes.tsx
Labels: size/L, components, pages, hooks

#2 style(App.css): make display responsive
  .gitignore
  package-lock.json
  package.json
  src/App.css
Labels: size/XS

#3 feat: saved page
  src/App.tsx
  src/components/Home/OrganizationCard.tsx
  src/components/Home/SavedCard.tsx
  src/context/SavedContext.tsx
  src/hooks/useSaved.ts
  src/pages/Home.tsx
  src/pages/Saved.tsx
  src/routes.tsx
Labels: size/L, components, pages, hooks, context

#5 feat(donations, schedule): implemented donations + schedule
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/Home/OrganizationCard.tsx
  src/components/common/DonationModal.tsx
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/components/common/MessageDialog.tsx
  src/components/common/ProtectedRoute.tsx
  src/components/common/SearchBar.tsx
  src/components/common/index.tsx
  src/context/EventsContext.tsx
  src/context/SavedContext.tsx
  src/context/UserContext.tsx
  src/hooks/index.ts
  src/hooks/useEvents.ts
  src/pages/Alerts.tsx
  src/pages/Home.tsx
  src/pages/Saved.tsx
  src/pages/Schedule.tsx
  src/routes.tsx
  src/type.d.ts
  src/types/modules.d.ts
  src/types/type.d.ts
  vite.config.ts
Labels: size/L, components, pages, hooks, context

#6 Login for donors and organizations
  src/App.tsx
  src/components/common/ConfirmationDialog.tsx
  src/components/common/CustomDialog.tsx
  src/components/common/DonationModal.tsx
  src/components/common/Header.tsx
  src/components/common/index.tsx
  src/context/UserContext.tsx
  src/hooks/useUser.ts
  src/pages/DonorDashboard.tsx
  src/pages/OrganizationDashboard.tsx
  src/routes.tsx
  src/types/components.d.ts
  src/types/type.d.ts
  src/types/user.d.ts
  src/utils/firebase/auth.ts
  src/utils/firebase/firebaseConfig.ts
  src/utils/firebase/firebaseUtils.ts
  src/utils/firebase/index.ts
  src/utils/firebase/userProfile.ts
  vite.config.ts
Labels: size/L, components, pages, hooks, context, utils

#9 Style: header text color
  package-lock.json
  src/components/common/Header.tsx
Labels: components, size/XS

#10 Schema
  src/components/common/CustomDialog.tsx
  src/context/UserContext.tsx
  src/types/components.d.ts
  src/types/donation.d.ts
  src/types/user.d.ts
  src/utils/firebase/auth.ts
  src/utils/firebase/index.ts
  src/utils/firebase/userProfile.ts
Labels: components, size/M, context, utils

#12 fix(userContext): user lost after refresh
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
  src/components/Home/OrganizationCard.tsx
  src/components/common/Header.tsx
  src/context/UserContext.tsx
  src/hooks/index.ts
  src/hooks/useToggle.ts
  src/pages/Schedule.tsx
Labels: bug, components, pages, hooks, context, size/S

#13 feat: fetch organizations from firestore + update saved to firestore
  package-lock.json
  package.json
  src/App.tsx
  src/components/Home/OrganizationCard.tsx
  src/components/Home/SavedCard.tsx
  src/context/SavedContext.tsx
  src/context/UserContext.tsx
  src/hooks/index.ts
  src/hooks/useSaved.ts
  src/hooks/useSavedOrgs.ts
  src/pages/Home.tsx
  src/pages/Saved.tsx
  src/types/user.d.ts
  src/utils/firebase/firebaseUtils.ts
  src/utils/firebase/index.ts
  src/utils/firebase/userProfile.ts
Labels: size/L, components, pages, hooks, context, utils

#14 refactor(all): add events collection. Home page based on `user.role`
  package-lock.json
  package.json
  src/App.tsx
  src/components/Home/DonorDashboard/DonationModal.tsx
  src/components/Home/DonorDashboard/NeedList.tsx
  src/components/Home/DonorDashboard/OrganizationCard.tsx
  src/components/Home/DonorDashboard/index.tsx
  src/components/Home/OrganizationCard.tsx
  src/components/Home/OrganizationDashboard/index.tsx
  src/components/Saved/SavedCard.tsx
  src/components/Schedule/index.tsx
  src/components/common/DonationModal.tsx
  src/components/common/Header.tsx
  src/components/common/RoleSelectionModal.tsx
  src/components/common/index.tsx
  src/context/EventsContext.tsx
  src/context/UserContext.tsx
  src/hooks/useEvents.ts
  src/pages/Home.tsx
  src/pages/Saved.tsx
  src/pages/Schedule.tsx
  src/routes.tsx
  src/types/donation.d.ts
  src/types/modules.d.ts
  src/types/user.d.ts
  src/utils/firebase/eventsUtils.ts
  src/utils/firebase/firebaseUtils.ts
  src/utils/firebase/index.ts
  src/utils/firebase/userProfile.ts
  vite.config.ts
Labels: bug, enhancement, components, pages, hooks, context, utils, size/XL

#15 fix(UserContext): firebase onSnapShot not working properly
  src/components/common/Footer.tsx
  src/context/UserContext.tsx
  src/pages/Schedule.tsx
  src/utils/firebase/eventsUtils.ts
  src/utils/firebase/firebaseUtils.ts
  src/utils/firebase/index.ts
  src/utils/firebase/userProfile.ts
Labels: bug, size/L, components, pages, context, utils

#8 feat: organization dashboard
  src/components/Home/OrganizationDashboard/Dashboard.tsx
  src/components/Home/OrganizationDashboard/IncomingDonations.tsx
  src/components/Home/OrganizationDashboard/index.tsx
Labels: size/L, components, pages

#17 fix(Schedule): showing events on specific day with dot on calander
  src/components/Home/DonorDashboard/DonationModal.tsx
  src/components/Schedule/EventsCalendar.tsx
  src/components/Schedule/index.tsx
  src/types/user.d.ts
Labels: bug, components, size/M

#18 fix: local events update when new donation added.
  package-lock.json
  package.json
  src/App.tsx
  src/context/UserContext.tsx
  src/hooks/useEvents.ts
Labels: bug, hooks, context, size/S

#20 Implement calendar export
  eslint.config.mjs
  src/components/Schedule/index.tsx
  src/utils/generateICSFile.ts
Labels: components, size/M, utils

#19 Connect backend
  package-lock.json
  package.json
  src/App.tsx
  src/components/Home/DonorDashboard/DonationModal.tsx
  src/components/Home/DonorDashboard/DonationModal/DeliveryMethodSelector.tsx
  src/components/Home/DonorDashboard/DonationModal/QuantityInput.tsx
  src/components/Home/DonorDashboard/DonationModal/TimeSelector.tsx
  src/components/Home/DonorDashboard/DonationModal/index.tsx
  src/components/Home/DonorDashboard/DonationModal/types.ts
  src/components/Home/DonorDashboard/NeedList.tsx
  src/components/Home/DonorDashboard/OrganizationCard.tsx
  src/components/Home/DonorDashboard/index.tsx
  src/components/Home/OrganizationDashboard/NeedList/EmptyStateMessage.tsx
  src/components/Home/OrganizationDashboard/NeedList/NeedDialog.tsx
  src/components/Home/OrganizationDashboard/NeedList/NeedListItem.tsx
  src/components/Home/OrganizationDashboard/NeedList/index.tsx
  src/components/Home/OrganizationDashboard/ProfileCard/EditProfileDialog.tsx
  src/components/Home/OrganizationDashboard/ProfileCard/index.tsx
  src/components/Home/OrganizationDashboard/index.tsx
  src/components/Schedule/index.tsx
  src/components/common/MessageDialog.tsx
  src/components/common/index.tsx
  src/hooks/useEvents.ts
  src/hooks/useNeeds.ts
  src/types/user.d.ts
  src/utils/eventsUtils.ts
  src/utils/firebase/firebaseConfig.ts
  src/utils/firebase/userProfile.ts
Labels: components, hooks, utils, size/XXL

#23 fix: fix handle for all org don't have needs
  src/components/Home/DonorDashboard/DonationModal/QuantityInput.tsx
  src/components/Home/DonorDashboard/DonationModal/index.tsx
  src/components/Home/DonorDashboard/OrganizationCard.tsx
  src/components/Home/OrganizationDashboard/NeedList/index.tsx
  src/hooks/useNeeds.ts
  src/types/user.d.ts
  src/utils/eventsUtils.ts
Labels: bug, components, hooks, utils, size/S

#22 style: overall style refine
  eslint.config.mjs
  src/App.css
  src/components/Schedule/index.tsx
  src/components/common/Header.tsx
  src/index.css
  src/utils/theme.ts
  tsconfig.app.json
Labels: size/L, components, utils

#24 fixing fetch error when there are no event ids
  src/utils/firebase/eventsUtils.ts
Labels: size/XS, utils
